<h2>Countries</h2>
<hr />
<ul class="list-group">
  <!-- <li
    class="list-group-item cursor-pointer"
    routerLink=""
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active"
  >
    Home
  </li> -->
  <li
    class="list-group-item cursor-pointer"
    routerLink="countries/by-capital"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active"
  >
    By Capital
  </li>
  <li
    class="list-group-item cursor-pointer"
    routerLink="countries/by-region"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active"
  >
    By Region
  </li>
  <li
    class="list-group-item cursor-pointer"
    routerLink="countries/by-country"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active"
  >
    By Country
  </li>
  <!-- <li class="list-group-item" routerLink="contact" routerLinkActive="active">
    Contact
  </li>
  <li class="list-group-item" routerLink="about" routerLinkActive="active">
    About
  </li> -->
</ul>
