<h2>Countries</h2>
<hr />
<ul class="list-group">
  <li
    class="list-group-item"
    style="cursor: pointer"
    routerLink="countries/by-capital"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active"
  >
    By Capital
  </li>
  <li
    class="list-group-item"
    style="cursor: pointer"
    routerLink="countries/by-region"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active"
  >
    By Region
  </li>
  <li
    class="list-group-item"
    style="cursor: pointer"
    routerLink="countries/by-country"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active"
  >
    By Country
  </li>
</ul>
